beatutifulsoup4
htmltools 
ipywidgets
jinja2
jupyter_bokeh 
matplotlib
MLB-StatsAPI
pandas
plotly 
plotnine
pyodide-py
python-dotenv
randfacts
requests
rsconnect-python
shiny 
shinyswatch 
shinywidgets 
